.article-card-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.article-card {
  margin: 5%;
  padding: 3%;
  height: 320px;
  width: 330px;
  background-color: bisque;
}
.article-card img {
  max-width: 100%;
  height: 70%;
}

.article-card h2 {
  text-align: center;
  height: 18%;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.article-card p {
  font-style: italic;
  font-size: 0.6em;
}
.article-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3%;
  background-color: lightgray;
  

}
.article-page img{
  max-width: 70%;
}
.article-page h1{
  font-size: 2.5rem;
  text-align: center;
}
.article-page h2, h3 {
  font-size: 1.3rem;
}
.article-page p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.comments-section button {
  align-items: center;
  max-height: 1.5rem;
  font-size: 1rem;
  min-width: 3.5rem;
}

.comments-header {
  font-size: 2.4rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.comment-card {
  display: inline-flex;
 width: 500px;
 flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  background-color:rgb(177, 206, 207);
  padding: 0.5%;
  font-size: 0.8rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5%;
  
}
.comment-card p {
  
  height: 70px;
}
@media screen and (max-width: 768px) {
  .article-card-container {
    width: calc(50% - 5px);
    margin: 2px;
  }
  .article-card {
    height: 270px;
  }
  .article-card h2 {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .comment-card {
    width: calc(70% - 5px);
    padding: 2%;
    font-size: 0.65rem;;
  }
  .comment-card p{
    height: fit-content;
  }
  .article-page h1{
    font-size: 1.3rem;
    text-align: center;
  }
  .article-page p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .comments-header {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}

